/* style.css */

/* Set the canvas element to be the full size of the container */
canvas {
    width: 100%;
    height: 100%;
}

/* Center the canvas element on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-container {
    display: none;
}

@font-face {
    font-family: 'White_On_Black';
    src: url('../../fonts/White_On_Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    
/* Grid container styles */
.grid-container {
    display: flex;
    margin: 20px 0;
    align-items: flex-start;
}

#asciiBox {
    font-family: monospace;
    font-size: 15px;
    line-height: 1;
    white-space: pre;
    resize: none;
    margin-right: 20px;
}

#canvasContainer {
    border: 3px solid #d14d4d;
    /* The canvas will have its natural size based on the grid dimensions */
}

#controls {
    margin-bottom: 10px;
}

#toggleWorldButton {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
}

#toggleWorldButton:hover {
    background-color: #45a049;
}

#reseedButton {
    padding: 8px 16px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

#reseedButton:hover {
    background-color: #007095;
}

#worldControls {
    display: inline-block;
}

#seedReport {
    font-family: monospace;
}